.iconGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.iconTeam {
  padding: 4px;
  margin-top: 14px;
  display: inline-block;
  height: 63px;
  width: 63px;  
  border: 2px solid transparent;
  border-radius: 4px;
}

.checked {
  border: 2px solid #3b9c00;
}
