.content {
  margin-top: 20px;
}
.card {
  margin: 25px 0;
  border: 2px solid #e0e0e0;
  width: 100%;
  height: 100px;
  border-radius: 4px;
}
.inputChat {
  border-top: 1px solid #c7c7c7;
  position: fixed;
  bottom: 0;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.inputChat input {
  border: none; 
  border-top: 1px solid #c7c7c7;
  padding: 14px 5px;
  font-size: 1em;
  width: 65%;
  height: 40px;
}
.inputChat button {
  border: none;
  border-top: 1px solid #c7c7c7;
  text-align: center;
  color: #333;
  font-size: 1em;
  background: #fff;
  font-weight: bold;
  flex: 1;
  z-index: 999;
}
.inputChat button:active {
  color: #3b9c00;
}
.message-content {
  background: url(https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png);
  height: 1000vh;
  padding: 4px;
}
.message {
  font-family: arial;
  padding: 14px;
  position: relative;
  bottom: -75px;
  background: #3b9c00;
  border-radius: 0px 10px 10px 25px;
  margin-top: 5px;
  width: 75%;
  left: 40px;
  color: #fff;
  overflow-x: hidden;
  box-shadow: 2px 4px 23px -11px rgba(0,0,0,0.75);
}

.message-you {
  font-family: arial;
  padding: 14px;
  position: relative;
  bottom: -75px;
  background: #F2F2F2;
  border-radius: 10px 0 25px 10px;
  margin-top: 5px;
  width: 75%;
  left: 40px;
  color: #000;
  overflow-x: hidden;
  box-shadow: 2px 4px 23px -11px rgba(0,0,0,0.75);
}

.profileImage-you {
  position: relative;
  bottom: -100px;
  background: transparent;
  height: 40px;
  width: 40px;
  overflow-x: hidden;
  border-radius: 50%;
  right: -320px;
  z-index: 999;
}

.profileImage {
  position: relative;
  bottom: -100px;
  background: transparent;
  height: 40px;
  width: 40px;
  overflow-x: hidden;
  border-radius: 50%; 
  z-index: 999;
}
.avatar {
  height: 40px;
  width: 40px;
}

.imageGif {
  height: 200px;
}