body {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 24px;
}
.title,
.subtitle {
  font-family: 'arial';
  font-weight: bold;
  color: #4d4d4d;
  font-style: normal; 
  font-variant: normal; 
}
.title {
  font-size: 1.248em;
  line-height: 1.747em;
  color: #212121;
}
.subtitle {
  font-size: .874em;
  line-height: 1.123em;
}
